* {
    margin: 0;
}

.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* comon shared  style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
.text-primary {
    color: #FD6E0A;

}

.section-title {
    color: var#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var #757575;
    text-align: center;
    font-size: 18px;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 8px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
    /* list-style: none; */

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-right: 65px;
}

.banner-gretting {
    font-size: 15px;
    color: #474747;
}

/* main section style */
main {
    max-width: 1140px;
    margin: 0 auto;

}

main section {
    margin-top: 80px;
}

/*about section style*/
.about {
    padding: 10px;
    background-color: #f8fff3cf;
    border-radius: 10px;
    margin: 100px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* what i do section */
#what-i-do-description {
    padding: 10px;
    /* font-size: 5px; */
}

.skilles-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.skill {
    padding: 25px;
    gap: 40px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* resume summary */
.resume-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-description {
    color: #757575;
    font-size: 15px;
}

.resume-item-institute {
    color: #757575;
    font-size: 17px;
}
.resume-item-title{
    color: #757575;
    font-size: 22px;
}
.resume-column-title{
    margin-bottom: 25px;
}
.section-title{
    margin-bottom: 25px;
}
hr{
    margin: 20px;
}